<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <metadata>
        <id>DotnetHeadStartAPI</id>
        <title>Dotnet Headstart: API</title>
        <authors>Robin Lenaerts</authors>
        <description>A Headstart asp.net API project with a couple useful base features. Perfect to get a headstart on your new project!</description>
        <tags>dotnet-new;template; contoso</tags>
        <defaultPushSource>https://api.nuget.org/v3/index.json</defaultPushSource>
        <files>
            <file src="..\README.md" target="docs\" />
        </files>
        <packageTypes>
            <packageType name="Template" />
        </packageTypes>
    </metadata>
</configuration>
