<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <metadata>
  <id>DotnetHeadStartMVC</id>
  <title>Dotnet Headstart: MVC</title>
  <authors>Robin Lenaerts</authors>
  <description>A Headstart asp.net mvc project with a couple useful base features</description>
  <tags>dotnet-new;template; contoso</tags>
  <packageTypes>
    <packageType name="Template" />
  </packageTypes>
</metadata>
</configuration>
