<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <metadata>
    <id>DotnetHeadStart</id>
    <title>Dotnet Headstart</title>
    <authors>Robin Lenaerts</authors>
    <description>A set of useful functionalities to get started with a Dotnet project</description>
    <tags>contoso</tags>
    <defaultPushSource>https://api.nuget.org/v3/index.json</defaultPushSource>
    <files>
      <file src=".\README.md" target="docs\" />
    </files>
    <packageTypes>
      <packageType name="base" />
    </packageTypes>
  </metadata>
</configuration>
